# IDE files
.vscode/
.idea/
.env
.aider*
.cursorrules
.cursor
.mcp
_ARCHIVED
js-to-lua
moonwavegen

# Roblox Studio files
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Roblox Studio repositories
StarterGui

# Moonwave build output
/build

# Rojo files
/rojo-test.rbxl
/rojo-test.rbxlx

# Packages directory
/Packages/

# OS files
.DS_Store
Thumbs.db 
*.zip
packages/*/Packages
node_modules
/sourcemap.json
/assets
/test/Packages
/test/modules
package.json
package-lock.json
/DevPackages